NCT-CRC-HE-100K
NCT-CRC-HE-small
NCT-CRC-HE-small-1k-per-class/
NCT-CRC-HE-small-5k-per-class/
CRC-VAL-HE-7K

models

notebooks/resnet-50-finetuned-nct-crc-he-45k

.DS_Store

resnet50_model
wandb
*.bin
*.json
*.pt
*.pth